body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
    background-image: url(alyssa-strohmann-TS--uNw-JqE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.categories, .products, .product-info {
    border: 1px solid wheat;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    margin: 10px;
}

.categories {
    width: 150px;
}

.products {
    width: 250px;
}

.product-info {
    width: 250px;
    display: none;
}

button {
    background-color: darkcyan;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
    width: 120px;
    height: 40px;
}

button.buy-button {
    background-color:darkslategrey;
    width: 120px;
    height: 40px;
}
 .my-orders-button {
    background-color: darkslategray;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
    width: 120px;
    height: 40px;
 }

 .order-list-container {
    border: 1px;
    padding: 15px;
    background-color:  lightslategray; 
    margin: 10px;
    width: 120px;
 }
 .order-list {
    list-style: none;
    padding: 0;
}

.order-list li {
    cursor: pointer;
    margin-bottom: 5px;
}